@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  margin-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

i,
em,
address {
  font-style: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background: transparent;
  color: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: col;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none;
}

input[type=text]::placeholder {
  color: #999;
  font-style: italic;
}

button {
  cursor: pointer;
  padding: 0;
}

.blind,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q::before,
q::after {
  content: "";
}

@keyframes barSizeUp {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GmarketSansMedium";
}

.header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: black;
  color: white;
  box-sizing: border-box;
  z-index: 10;
}
.header .header-tit a img {
  width: 150px;
}
.header .nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav .nav-list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header .nav .nav-list .nav-item {
  margin-right: 2em;
  font-size: 1em;
}
.header .nav button {
  width: 3em;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
}
.header .nav button span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: white;
}

.main {
  font-size: 16px;
}
.main section {
  position: relative;
  height: 100vh;
}
.main .cont-represent {
  background: url(../img/bg.jpg) no-repeat center center/cover;
  color: white;
  display: flex;
  align-items: center;
}
.main .cont-represent .cont-intro {
  margin-left: 12em;
}
.main .cont-represent .cont-intro h2 {
  font-size: 4em;
  font-family: "GmarketSansBold";
}
.main .cont-represent .cont-intro p {
  margin-top: 1em;
}
.main .cont-represent .represent-slide {
  width: 150px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%) rotate(270deg);
}
.main .cont-represent .represent-slide button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}
.main .cont-represent .represent-slide .space {
  flex-grow: 1;
}
.main .cont-represent .represent-cont-sns ul {
  width: 120px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 30px;
  bottom: 10px;
}
.main .cont-represent .represent-cont-sns ul li a img {
  width: 1.5em;
}
.main .cont-adManagement {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
.main .cont-adManagement header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
.main .cont-adManagement header .adManagement-tit {
  position: relative;
  font-family: "GmarketSansBold";
  font-size: 3em;
  line-height: 1.2;
}
.main .cont-adManagement header .adManagement-tit:after {
  position: absolute;
  right: -15px;
  bottom: 0;
  content: ".";
  color: red;
}
.main .cont-adManagement header .adManagement-desc {
  position: relative;
  font-size: 1.1em;
  margin-right: 4em;
  line-height: 1.8;
}
.main .cont-adManagement header .adManagement-desc::before {
  width: 50px;
  height: 3px;
  position: absolute;
  left: -70px;
  top: 5px;
  content: "";
  background: black;
}
.main .cont-adManagement .adManagement-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.main .cont-adManagement .adManagement-list li {
  position: relative;
  background: #f5f4f4;
}
.main .cont-adManagement .adManagement-list li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 3em 3em;
  box-sizing: border-box;
}
.main .cont-adManagement .adManagement-list li a strong {
  display: block;
  font-family: "GmarketSansBold";
  font-size: 1.5em;
  margin-bottom: 1em;
}
.main .cont-adManagement .adManagement-list li a p {
  font-size: 1em;
  line-height: 2;
}
.main .cont-adManagement .adManagement-list li:before {
  content: "→";
  position: absolute;
  left: 60px;
  bottom: 5px;
  font-size: 2em;
  transform: scaleX(2);
}
.main .cont-adManagement .adManagement-list li::after {
  content: "😃";
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 2em;
}
.main .cont-adManagement .adManagement-list li:hover {
  box-shadow: 0 5px 15px 1px rgba(29, 29, 29, 0.384);
}
.main .cont-marketing {
  background: url(../img/bg3.jpg) no-repeat center center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
.main .cont-marketing header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
.main .cont-marketing header .marketing-tit {
  position: relative;
  font-family: "GmarketSansBold";
  font-size: 3em;
  line-height: 1.2;
}
.main .cont-marketing header .marketing-tit:after {
  position: absolute;
  right: 78px;
  bottom: 0;
  content: ".";
  color: red;
}
.main .cont-marketing header .marketing-desc {
  position: relative;
  font-size: 1.1em;
  margin-right: 10em;
  line-height: 1.8;
}
.main .cont-marketing header .marketing-desc::before {
  width: 60px;
  height: 3px;
  position: absolute;
  left: -95px;
  top: 5px;
  content: "";
  background: white;
}
.main .cont-marketing ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: -1px;
}
.main .cont-marketing ul li {
  position: relative;
  border-top: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
.main .cont-marketing ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 100px 50px;
  box-sizing: border-box;
}
.main .cont-marketing ul li a strong {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-family: "GmarketSansBold";
  margin: 3em 0 30px;
}
.main .cont-marketing ul li a p {
  line-height: 1.8;
  color: gray;
}
.main .cont-marketing ul li:nth-child(1) {
  border-left: 1px solid #666666;
}
.main .cont-marketing ul li:before {
  content: "💡";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
}
.main .cont-marketing ul li:hover {
  background: #ce1717;
  border-top: 1px solid #ce1717;
  border-right: 1px solid #ce1717;
  border-bottom: 1px solid #ce1717;
  border-left: 1px solid #ce1717;
}
.main .cont-marketing ul li:hover p {
  color: white;
}
.main .cont-marketing ul li:hover a::after {
  content: "→";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  font-size: 2em;
  transform: scaleX(2);
}
.main .cont-analyze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
.main .cont-analyze header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
.main .cont-analyze header .analyze-tit {
  font-family: "GmarketSansBold";
  position: relative;
  font-size: 3em;
  line-height: 1.2;
}
.main .cont-analyze header .analyze-tit::after {
  position: absolute;
  right: 80px;
  bottom: 0;
  content: ".";
  color: red;
}
.main .cont-analyze header .analyze-desc {
  position: relative;
  font-size: 1.1em;
  margin-right: 10em;
  line-height: 1.8;
}
.main .cont-analyze header .analyze-desc::before {
  width: 60px;
  height: 3px;
  position: absolute;
  left: -95px;
  top: 5px;
  content: "";
  background: black;
}
.main .cont-analyze ul {
  width: 50%;
  margin: 0 0 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 5em;
}
.main .cont-analyze ul li {
  overflow: hidden;
}
.main .cont-analyze ul li div a {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
  display: block;
  box-sizing: border-box;
}
.main .cont-analyze ul li div a strong {
  text-align: left;
  font-size: 1.5em;
  font-family: "GmarketSansBold";
}
.main .cont-analyze ul li div a::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
}
.main .cont-analyze ul li div a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  right: 0;
  top: 10px;
  background: url(../img/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.main .cont-analyze ul li div:hover a::before {
  animation: barSizeUp 1s;
}
.main .cont-analyze ul li div:hover a::after {
  animation: arrow 1s;
}
.main .cont-analyze ul li p {
  line-height: 1.8;
}
.main .cont-hire {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}
.main .cont-hire .hire-information {
  flex-basis: 60%;
  padding: 0 50px;
}
.main .cont-hire .hire-information .hire-tit {
  font-family: "GmarketSansBold";
  position: relative;
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 2em;
}
.main .cont-hire .hire-information .hire-tit::after {
  position: absolute;
  bottom: 0;
  content: ".";
  color: red;
}
.main .cont-hire .hire-information ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6em;
}
.main .cont-hire .hire-information ul li {
  overflow: hidden;
}
.main .cont-hire .hire-information ul li div a {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  position: relative;
  display: block;
  box-sizing: border-box;
}
.main .cont-hire .hire-information ul li div a strong {
  text-align: left;
  font-size: 1.5em;
  font-family: "GmarketSansBold";
}
.main .cont-hire .hire-information ul li div a::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
}
.main .cont-hire .hire-information ul li div a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  right: 0;
  top: 10px;
  background: url(../img/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.main .cont-hire .hire-information ul li div:hover a::before {
  animation: barSizeUp 1s;
}
.main .cont-hire .hire-information ul li div:hover a::after {
  animation: arrow 1s;
}
.main .cont-hire .hire-information ul li p {
  line-height: 1.8;
}
.main .cont-hire .cont-consulting {
  width: 95%;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: red;
  padding: 20px 100px;
  box-sizing: border-box;
}
.main .cont-hire .cont-consulting header {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .cont-hire .cont-consulting header h2 {
  font-family: "GmarketSansBold";
  font-size: 1.5em;
  margin-bottom: 1em;
}
.main .cont-hire .cont-consulting header p strong {
  font-family: "GmarketSansBold";
  font-size: 2em;
}
.main .cont-hire .cont-consulting .formOut {
  flex-basis: 60%;
}
.main .cont-hire .cont-consulting .formOut .formIn {
  display: flex;
  align-items: flex-start;
}
.main .cont-hire .cont-consulting .formOut .formIn fieldset {
  flex-grow: 1;
}
.main .cont-hire .cont-consulting .formOut .formIn fieldset input {
  display: block;
  width: 90%;
  height: 3em;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.main .cont-hire .cont-consulting .formOut .formIn fieldset label {
  display: flex;
  align-items: center;
}
.main .cont-hire .cont-consulting .formOut .formIn fieldset label input {
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-bottom: 0;
}
.main .cont-hire .cont-consulting .formOut .formIn fieldset label p {
  display: inline-block;
}
.main .cont-hire .cont-consulting .formOut .formIn button {
  flex-basis: 200px;
  padding: 28px 10px;
  border: 3px solid white;
  background: none;
  color: white;
  font-size: 1.5em;
}
.main .cont-hire .map {
  flex-basis: 40%;
  background-color: olivedrab;
}
.main .cont-address {
  width: 100%;
  height: 30vh;
  position: relative;
  z-index: -10;
  background: #bd9f9f;
}
.main .cont-fix {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 75px;
  height: 270px;
  color: white;
  border-radius: 100px;
  overflow: hidden;
}
.main .cont-fix ul {
  background: red;
  height: 200px;
  color: white;
  text-align: center;
  padding: 20px 0;
  border-radius: 100px;
  transform: translateY(195px);
  transition: 1s all;
}
.main .cont-fix ul li a strong {
  opacity: 0;
  font-size: 0.8em;
  transition: 3s all;
}
.main .cont-fix ul li a::before {
  content: "🏡";
  display: block;
  font-size: 1.5em;
}
.main .cont-fix ul li:nth-child(2) {
  margin: 10px 0;
}
.main .cont-fix button {
  display: block;
  position: fixed;
  bottom: 8px;
  right: 49px;
  background: none;
  border: none;
  color: white;
  text-shadow: 0 0 2px black;
}
.main .cont-fix button::before {
  content: "↑";
  position: absolute;
  left: -10px;
  bottom: 2px;
}
.main .cont-fix:hover ul {
  transform: translateY(30px);
}
.main .cont-fix:hover ul li a strong {
  opacity: 1;
}

.footer {
  background: black;
  padding: 70px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .cont-company ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  color: #e0e0e0;
}
.footer .cont-company ul li {
  margin-right: 1em;
  font-size: 1em;
}
.footer .cont-company dl {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: #999999;
  margin-bottom: 16px;
}
.footer .cont-company dl dt::after {
  content: ":";
  display: inline-block;
  width: 7px;
}
.footer .cont-company dl dd {
  display: flex;
  align-items: center;
}
.footer .cont-company dl dd::after {
  width: 1px;
  height: 1em;
  content: "";
  background: #999999;
  display: inline-block;
  margin: 0 10px;
}
.footer .cont-company dl dd:last-child:after {
  display: none;
}
.footer .cont-company p {
  color: #999999;
  font-size: 0.8em;
}
.footer a {
  right: 0;
}
.footer a img {
  width: 200px;
}

/*# sourceMappingURL=common.css.map */
