@charset "utf-8";
.target {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: dodgerblue;
  color: #fff;
  .inner {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 20px;
    height: 200px;
    overflow: auto;
    margin: 100px auto;
    max-width: 500px;
  }
  h1 {
    font-size: 100px;
    text-align: center;
  }
  p {
    line-height: 1.2;

    margin: 10px 0;
  }
  img {
    max-width: 100%;
    margin: 10px 0;
  }
}
.grayBox {
  div:nth-child(1) {
    background-color: nth($gray, 1);
  }
  div:nth-child(2) {
    background-color: nth($gray, 2);
  }
  div:nth-child(3) {
    background-color: nth($gray, 3);
  }
}
