@charset "utf-8";
//mixin 사용
// $color:red는 기본값을 지정하는 것이다.
@mixin line($color: red) {
  outline: 1px solid $color;
  //사스 내장함수로 입력받은 컬러를 20%만 밝게 하겠다.
  background-color: lighten($color, 20%);
}

@mixin flex($a: stretch, $wrap: nowrap, $j: space-between) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-wrap: $wrap;
}

@mixin bg($bg, $size: cover) {
  background: url($url + $bg) no-repeat center center/$size;
}

//#{변수}는 두 변수를 더할 떄 같은 단위가 아닌경우에 사용하는 방법

@mixin ir($bg) {
  background: url($url + $bg) no-repeat center center/contain;
  span {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
}
