@charset "utf-8";


.dimm {
    position:fixed;
    left:0;top:0;
    width:100vw;
    height:100vh;
    background-color:rgba(#000,0.7);
    z-index:200;
    display:none;
}

.modal { 
    z-index:201;
    @include radius(20);  
    @include modal(50%,400,#fff); 
    display:none; 
    transition:0.4s;
    &.show { 
        top:calc(50% + 50px); 
    }
}

.modal2 {
    z-index:201;
    @include modal(100vw,60vh,#fff);
    bottom:-70vh;
    top:auto;
    left:0;
    transform:translate(0,0);
}

 
 